<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>{{ title }}</title>

    <style>
      .header {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 150%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
      }
      .signup {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <div class="signup">
      <div class="w-full max-w-md">
        <form
          class="bg-HoneyDew shadow-xl rounded px-8 pt-6 pb-8 mb-4"
          method="POST"
          action="{% url 'accounts:register' %}"
        >
          {% csrf_token %}
         
          <h4 class="header">Registration</h4>
        
          <div class="mb-4">
            <label class="text-gray-700 text-sm font-bold mb-2" for="firstname">
              First Name
            </label>
            {{ signupform.first_name }}
          </div>

          <div class="mb-4">
            <label class="text-gray-700 text-sm font-bold mb-2" for="lastname">
              Last Name
            </label>
            {{ signupform.last_name }}
          </div>

          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="username"
            >
              Username
            </label>
            {{ signupform.username }}
          </div>

          <div class="mb-4">
            <label class="text-gray-700 text-sm font-bold mb-2" for="email">
              Email
            </label>
            {{ signupform.email }}
          </div>

          <div class="mb-6">
            <label class="text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            {{ signupform.password1 }}
            <ul
              class="list-disc text-gray-700 text-xs font-bold text-opacity-50"
            >
              <li>
                Your password can’t be too similar to your other personal
                information.
              </li>
              <li>Your password must contain at least 8 characters.</li>
              <li>Your password can’t be a commonly used password.</li>
              <li>Your password can’t be entirely numeric.</li>
            </ul>
          </div>

          <div class="mb-6">
            <label class="text-gray-700 text-sm font-bold mb-2" for="password">
              Confirm Password {{ signupform.password2 }}
            </label>
          </div>

          <div class="flex items-center justify-between">
            <a
              class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
              href="{% url 'login' %}"
            >
              want to login ?
            </a>
            {% include 'partials/_messages.html' %}
            {% comment %} {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endcomment %}
<br>
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Register
            </button>
          </div>
        </form>
        <p class="text-center text-gray-700 text-xs">
          &copy;2021 AMA Soft All rights reserved.
        </p>
        <br />
      </div>
    </div>
  </body>
</html>
