{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<div class="main">
    <div class="w-full max-w-lg">
          <form
            method="POST"
            action="{% url 'ebay:addproduct' %}"
            enctype="multipart/form-data"
          >
              {% csrf_token %}
              <h4 class="header">Add Product details</h4>

              {% if messages %}
                        {% for message in messages %}
                        <div{% if message.tags %} class="bg-green-200 text-green-500 px-2 py-2 border-0 shadow-xl flex rounded justify-between items-center-{{ message.tags }}"{% endif %}>
                            {{ message }}
                            <strong class="text-xl align-center cursor-pointer alert-del"
                            >&times;</strong
                          >
                        </div>
                        {% endfor %}
              {% endif %}

              <script>
                var alert_del = document.querySelectorAll('.alert-del');
                alert_del.forEach((x) =>
                  x.addEventListener('click', function () {
                    x.parentElement.classList.add('hidden');
                  })
                );
                </script>

              <div class="mb-2">
                <label class="text-gray-700 text-sm font-bold mb-2" for="firstname">
                  Product Name
          
                {{ addproductForm.pname }}     </label>
              </div>

              <div class="mb-2">
                <label class="text-gray-700 text-sm font-bold mb-2" for="firstname">
                  Product Description
          
                {{ addproductForm.p_des }}     </label>
              </div>
              <div class="mb-2">
                <label class="text-gray-700 text-sm font-bold mb-2" for="firstname">
                  Category
          
                {{ addproductForm.category }}     </label>
              </div>

              <div class="mb-2">
                <label class="text-gray-700 text-sm font-bold mb-2" for="firstname">
                  Product Image
          
                {{ addproductForm.p_photo }}     </label>
              </div>

              <div class="mb-2">
                <label class="text-gray-700 text-sm font-bold mb-2" for="firstname">
                  Auction End date
          
                {{ addproductForm.endate }}     </label>
              </div>

              <div class="mb-2">
                <label class="text-gray-700 text-sm font-bold mb-2" for="firstname">
                  Minimum Bid Price
                {{ addproductForm.min_bid }}     </label>
              </div>
  
          <div class="flex items-center justify-between">
              <br>  
              <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit"
              >
                Add
              </button>
            </div>
          </form>
     <br />
  </div>
</div>
{% include 'footer.html' %}

    {% endblock %}
  </body>
</html>