{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .card-img-top {
          width: 100%;
          height: 12vw;
          object-fit: contain;
          display : flex;
        }
  .searchbox{
    position: absolute;
    padding : 5px;
    right: 0px;
    width: 300px;
    z-index: -1;
  }
  @media screen and (max-width: 768px) {
 .card-img-top {
        height: 55vw;
}
  }
@media screen and (max-width: 430px)
{
.searchbox{
       position: absolute;
       items: center;
       justify-content: center;
       width: 98%;
       left: 2%;
}
}
</style>
<div>

<form class="w-full max-w-sm" method="GET" action="{% url 'ebay:home' %}">
  <div class="container flex mx-auto">
    <div class="flex fixed border-2 rounded">
            <svg class="w-6 h-6 text-gray-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
                <path
                    d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z">
                </path>
            </svg>
        <input name="search" id="query" type="text" class="px-4 py-2 w-80" placeholder="search...">
        <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="submit">
          Search
        </button>
    </div>
</div>
</form>


    <div class="container my-12 mx-auto px-4 md:px-12">
      <div class="flex flex-wrap -mx-1 lg:-mx-4">
{% if products %}
        <!-- Column -->
        {% for Product in page_obj %}
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
          <!-- Article -->
          <article class="overflow-hidden rounded-lg shadow-lg">
            <a href="{% url 'ebay:productinfo' pid=Product.p_id %}">
              <img
                alt="Placeholder"
                class="card-img-top"
                src="{{Product.p_photo.url}}"
              />
            </a>

            <header
              class="flex items-center justify-between leading-tight p-2 md:p-4"
            >
              <h1 class="text-md font-semibold">
                  {{Product.pname}}
              </h1>
              <p class="flex items-center justify-between leading-none p-2 text-lg font-semibold text-red-800">
                {{Product.min_bid}}
              </p>
            </header>
  
            <hr>
            <footer
            class="flex items-center justify-between text-sm leading-none p-2"
          >
              <p class="ml-2 text-sm">{{Product.created_at}}</p>
              <a class="bg-purple-600 p-1 font-semibold text-md text-white rounded"  href="{% url 'ebay:productinfo' pid=Product.p_id %}" type="button"/>Details</a> 
          </footer>

          </article>
        </div>
               {% endfor %}
      {% else %}

              <h1 class="text-gray-500 text-xl  p-4 md:p-6">
                 No products
              </h1>

               {% endif %}
      </div>
      <div class="">
        <b>Showing Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </b>
      </div>
      
      <ul class="pagination align-right float-right mr-auto">
        {% if page_obj.has_previous %}
        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}>
          <a class="flex-shrink-0 bg-white-500 hover:bg-teal-300 border-teal-500 hover:border-teal-500 text-sm border-2 text-black py-1 px-2 rounded" href="?{% if query %}search={{query}}&{% endif %}page=1">&laquo; 1</a>
          <a class="flex-shrink-0 bg-white-500 hover:bg-teal-300 border-teal-500 hover:border-teal-500 text-sm border-2 text-black py-1 px-2 rounded" href="?{% if query %}search={{query}}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
  
        {% if page_obj.has_next %}
          <a class="flex-shrink-0 bg-white-500 hover:bg-teal-300 border-teal-500 hover:border-teal-500 text-sm border-2 text-black py-1 px-2 rounded" href="?{% if query %}search={{query}}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
          <a class="flex-shrink-0 bg-white-500 hover:bg-teal-300 border-teal-500 hover:border-teal-500 text-sm border-2 text-black py-1 px-2 rounded" href="?{% if query %}search={{query}}&{% endif %}page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
        {% endif %}
  
  
        </ul>

               </div>
    </div>


</div>


{% endblock %}
  </body>
</html>