{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>

.mr-12{
  margin-right : 0rem;
}
}

</style>
<div class="flex fixed right-0 mr-12 py-1 px-6 bg-gray-50 border-none">
<form class="w-full max-w-sm" method="GET" action="{% url 'ebay:mybids' %}">
  <div class="container flex mx-auto">
    <div class="relative flex items-center justify-between text-gray-400 focus-within:text-gray-600" }>
      <svg class="w-5 h-5 absolute ml-3 pointer-events-none" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24">
            <path
                d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z">
            </path>
      </svg>
        <input name="search" id="query" type="text" class="pr-3 pl-10 py-2 w-100" placeholder="search by name or serial..">
        <button class="flex-shrink-0 bg-teal-400 hover:bg-teal-700 font-semibold text-sm border-4 text-black hover:text-white py-1 px-2 rounded" type="submit">
          Search
        </button>
    </div>
  </div>
</form>
</div>

<div class="p-5">
        <h1 class = "text-xl mb-2 p-6 text-center font-bold pt-8 mb-4 position-center"> My Bid List</h1>
          {% if messages %}
            {% for message in messages %}
                  <div{% if message.tags %} class="bg-green-300 text-white-400 px-2 py-2 border-0 shadow-xl flex rounded justify-between items-center-{{ message.tags }}"{% endif %}>
                      {{ message }}
                      <strong class="text-xl align-center cursor-pointer alert-del"
                      >&times;</strong>
                  </div>
            {% endfor %}
          {% endif %}
          <script>
          var alert_del = document.querySelectorAll('.alert-del');
          alert_del.forEach((x) =>
            x.addEventListener('click', function () {
              x.parentElement.classList.add('hidden');
            })
          );
          </script>

    
    {% if bids %}
  <div class="overflow-auto rounded-xl">
    <table class="table-auto w-full">
        <thead class="bg-yellow-400">
          <tr>
              <th class="p-3 text-sm font-semibold tracking-wide text-center">Bid Serial</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-center">Product Name</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-center">Description</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-center">Category</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-center">Image</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-center">Minimum Bid</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-center">End Data</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-center">Owner</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-center">My Bid</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-center">Winner</th>
          </tr>
		    </thead>
			  {% for bids in page_obj %}
		    <tr class="bg-gray-100 border-b-2 hover:bg-gray-300">
              <td class="text-center">{{bids.serial}}</td>
              <td class="text-center">{{bids.product.pname}}</td>
              <td class="text-justify">{{bids.product.p_des}}</td>
              <td class="text-center">{{bids.product.category.cname}}</td>
              <td>  <img class="h-16 w-16 mx-auto rounded-full" src="{{bids.product.p_photo.url}}" /></td>
              <td class="text-center"> ${{bids.product.min_bid}}</td>		
              <td class="text-center">{{bids.product.endate}}</td>
              <td class="text-center">{{bids.product.owner.username}}</td>
              <td class="text-center">${{bids.price}}</td>
              <td class="text-center">{{bids.product.winner}}</td>
              <td class="py-2 border-none bg-white">
                  {% if bids.product.endate <= today  %}
                  {% else %}
                      <a href= "{% url 'ebay:productinfo' pid=bids.product.p_id %}" class = "bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-3 rounded-full focus:outline-none focus:shadow-outline">Update</a><a href= "{% url 'ebay:biddelete' serial=bids.serial %}" class = "bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-3 rounded-full focus:outline-none focus:shadow-outline">Delete</a>	
                  {% endif %}  
              </td>
        </tr>
       {% endfor %}
	  </table>
  </div>
</div>

  
        <b class="ml-6">Showing Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </b>
    
      
      <ul class="pagination float-right mr-12">
        {% if page_obj.has_previous %}
        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}>
          <a class="flex-shrink-0 bg-white-500 hover:bg-teal-300 border-teal-500 hover:border-teal-500 text-sm border-2 text-black py-1 px-2 rounded" href="?{% if query %}search={{query}}&{% endif %}page=1">&laquo; 1</a>
          <a class="flex-shrink-0 bg-white-500 hover:bg-teal-300 border-teal-500 hover:border-teal-500 text-sm border-2 text-black py-1 px-2 rounded" href="?{% if query %}search={{query}}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
  
        {% if page_obj.has_next %}
          <a class="flex-shrink-0 bg-white-500 hover:bg-teal-300 border-teal-500 hover:border-teal-500 text-sm border-2 text-black py-1 px-2 rounded" href="?{% if query %}search={{query}}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
          <a class="flex-shrink-0 bg-white-500 hover:bg-teal-300 border-teal-500 hover:border-teal-500 text-sm border-2 text-black py-1 px-2 rounded" href="?{% if query %}search={{query}}&{% endif %}page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
        {% endif %}
	  </ul>

    {% else %}
    <h1 class="text-gray-500 text-xl p-4 md:p-6">
      No bids to show
   </h1>
    {% endif %}

{% endblock %}
  </body>
</html>