{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
      b {
        color: black;
      } 
      .main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding : 5%;
      }
      @media screen and (max-width: 640px)
    { 
      .grid{
        grid-template-columns:none;
        grid-gap:none
      }
    }
    </style>

<div class="main">
  <div class="grid grid-cols-3 sm:grid-cols-2 md:grid-cols-2 xl:grid-cols-3 gap-4">
       <div>
          <img class=" h-30 w-25 img-fluid mx-auto" src="{{products.p_photo.url}}" />
       </div>
       <div>
          <h2 class="text-3xl font-medium uppercase pt-6 mb-2">{{products.pname}} </h2>
          <p class="text-xl font-medium mb-2"><b>Description:</b> {{products.p_des}}</p>
          <p class="text-xl font-medium mb-2"><b>Minimum bid:</b> {{products.min_bid}}</p>
          <p class="text-xl font-medium mb-2"><b>End-date:</b> {{products.endate}} 12:00 am</p>
          <p class="text-xl font-medium mb-2"><b>Created at:</b> {{products.created_at}}</p>
          <p class="text-xl font-medium mb-2"><b>Owner:</b> {{products.owner.email}}</p>
          {% if win %}
               <br>
             {% else %}
              <p class="text-xl font-medium mb-2"><b style ="color:#FF0000"> Due:</b> {{ products.endate|timeuntil }}</p>
          {% endif %}
          {% if win %}
               <p class="text-xl font-medium mb-2"><b class="text-green-700">Winner:</b> {{products.winner}}</p>
            {% else %}
            <br>
          {% endif %}

            <form method="POST" action="{% url 'ebay:productinfo' pid=products.p_id %}" class="pt-6">
              {% csrf_token %}
              {% if win %}
                {% else %}
                      {% if user.is_authenticated %}
                            {% if products.endate <= today  %}
                               <p class="arial text-xl font-bold text-red-700">Auction is ended for this product !</p>
                            {% elif ownercheck %}
                                    <p class="arial text-xl font-bold text-red-700">Product Owner can't bid !</p>
                            {% else %}
                                      <input class="border-2 border-green-800 rounded" type="input" placeholder="$0" name="bidprice" value="$">
                                      <input class="font-bold text-lg bg-green-500 border-green-500 py-1 px-4 rounded hover:bg-green-700" href = "{% url 'ebay:productinfo' pid=products.p_id %}" type="submit" value="BID">
                            {% endif %}
                       {% else %}
                            {% if products.endate <= today  %}
                                     <p class="arial text-xl font-bold text-red-700">Auction is ended for this product !</p>
                                     <p class="italic text-lg font-semibold text-black">To start your bidding please <a href="{% url 'accounts:login' %}" class="font-semibold text-blue-600">Login</a>/<a href="{% url 'accounts:register' %}" class="font-semibold text-blue-600">Signup</a></p>
                            {% else %}
                                      <p class="italic text-lg font-semibold text-black">To bid on this product please <a href="{% url 'accounts:login' %}" class="font-semibold text-blue-600">Login</a>/<a href="{% url 'accounts:register' %}" class="font-semibold text-blue-600">Signup</a></p>
                            {% endif %}
                      {% endif %}
              {% endif %}
                          <br>
                {% if messages %}
                    {% for message in messages %}
                          <div{% if message.tags %} class="bg-green-300 text-white-400 px-2 py-2 border-0 shadow-xl flex rounded justify-between items-center-{{ message.tags }}"{% endif %}>
                              {{ message }}
                              <strong class="text-xl align-center cursor-pointer alert-del"
                              >&times;</strong>
                          </div>
                    {% endfor %}
                {% endif %}
              <script>
              var alert_del = document.querySelectorAll('.alert-del');
              alert_del.forEach((x) =>
                x.addEventListener('click', function () {
                  x.parentElement.classList.add('hidden');
                })
              );
              </script>
            </form>
          </div>
        <div class="pt-6">
          <p class="text-xl bg-blue-200 border-2 border-blue-300 text-center" ><b>BID Information</b></p>
          {% if bids %}
            {% for bid in bids %}
              <div>
                  <table class="table-auto w-full">
                    <thead class="bg-gray-400 b-2 b-gray-200">
                    <tr>
                    <th class="p-1 text-md border-2 border-blue-200 font-bold tracking-wide text-center">Email</th>
                    <th class="p-1 text-md border-2 border-blue-200 font-bold tracking-wide text-center">Amount</th>
                    </tr>
                  </thead>
                    <tr >
                    <td class="p-1 border-2 border-blue-150 bg-gray-300 tracking-wide text-center">{{bid.bider.email}}</td>
                    <td class="p-1 border-2 border-blue-150 bg-gray-300 tracking-wide text-center">{{bid.price}}</td>
                    </tr>
                  </table>
              </div>
            {% endfor %}
         {% else %}
           <div>
             <p class="arial italic font-semibold text-lg text-gray-700 text-center" >No Bids</p>
           </div>
         {% endif %}
        </div>
  </div>
</div>
  {% endblock %}
</body>
</html>