{% extends './base.html' %}
{% load static %}

{% block content %}
    <style>
      b {
        color: black;
      }
      .header {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 150%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
      }
      .main {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>

    <div class="main">
      <div class="w-full max-w-lg">
      <div class="mb-2">
    <br />
    <form
    method="POST"
    action=""
    enctype="multipart/form-data"
  >
      {% csrf_token %}
      <h4 class="header">Update Auction details</h4>

      <div align="center">
        <div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4">
          {{ productinfo.as_p }}
        </div>
      </div>
      <div class="flex items-center justify-between">
      
        <br>
              <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit"
              >
                Update
              </button>
            </form>
            </div>
        
          <p class="text-center text-gray-700 text-xs">
            &copy;2021 AMA Soft All rights reserved.
          </p>
          <br />
        </div>
        </div>

    {% endblock %}
  </body>
</html>